<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/main.bundle.css">
  <script src="/assets/main.bundle.js" defer></script>
  <title>{{ title }} | Craftable</title>
  <style>[x-cloak] { display: none; }</style>
  {% include '_includes/favicons' %}
</head>

<body class="{{ env.devMode ? 'debug-screens' }} bg-[#232663] w-screen h-screen flex items-center justify-center">
  {% block body %}
    {{ content|raw }}
  {% endblock %}
</body>

</html>
