{% set title = 'Craft CMS Development' %}
{% extends "_includes/layout.twig" %}

{% block body %}
  <div class="text-center">
    {% include '_includes/logo.svg' with { class: 'w-48 sm:w-96 text-white' } %}
  </div>
{% endblock %}
